<!DOCTYPE html>
<html>
<head>
<title> Recipe-details</title>
<link rel="stylesheet" href="recipe_details.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
   <nav>
        <img src= "Cake_Logo.png"  alt="Recipe Finder Logo" >
    <div id="navlinks" >
        <a href="Home_Page.html"><i class="fa-solid fa-house"></i> Home</a>
        <a href="Recipes_List.html" ><i class="fa-solid fa-utensils"></i> Recipes </a>
        <a href="Sign_Up.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out </a>
    </div>
    </nav>

<div class="header">
<h1 id="Title"></h1> 
<p id="category"></p>
<img id="recipeImage" src="" alt="recipe image" width="450" height="350">

<div id="actionButtons">
    
<button id="addToFavBtn">Add to favourite<i class="fa-solid fa-heart"></i></button>
<a  id="editBtn">Edit recipe</a>
<button id="deleteBtn">Delete recipe</button>
</div>

</div>


 <div class="content">
  <div class="section1">
 <h2><u>Ingredients</u></h2>
<ul id="ingredientsList"></ul>
 </div>
<div class="section2">
<h2><u>Preparation Steps</u></h2>
<ol id="stepsList"></ol>
</div>
 
</div>
<div class="recipe-info">
  <p><strong>Cooking Time:</strong> <span id="cookingTime"></span></p>
  <p><strong>Servings:</strong><span id="servings"></span></p>
</div>

<script src="Favorites.js"></script>
<script src="recipe-details.js"></script>
</body>
</html>
