{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ recipe.title }} - Recipe Details</title>
    <link rel="stylesheet" href="{% static 'css/recipe_details.css' %}">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <nav>
        <img src="{% static 'images/Cake_Logo.png' %}" alt="Recipe Finder Logo">
        <div id="navlinks">
            <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a>
            <a href="{% url 'recipe_list' %}"><i class="fa-solid fa-utensils"></i> Recipes</a>
            <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</a>
        </div>
    </nav>

    <div class="header">
        <h1>{{ recipe.title }}</h1>
        <p class="category">{{ recipe.get_category_display }}</p>

        {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" width="450" height="350">
        {% else %}
            <img src="{% static 'images/default_recipe.png' %}" alt="No image" width="450" height="350">
        {% endif %}

        <div id="actionButtons">
            <button class="user-only" 
                    onclick="window.location.href='{% url 'add_to_favorites' recipe.id %}'">
                Add to Favourites <i class="fa-solid fa-heart"></i>
            </button>
            <a href="#" class="admin-only">Edit Recipe</a>
            <button class="admin-only">Delete Recipe</button>
        </div>
    </div>

    <div class="content">
        <div class="section1">
            <h2><u>Ingredients</u></h2>
          <ul>
        {% for ingredient in recipe.ingredients_list.all %}
            <li>{{ ingredient.name }} - {{ ingredient.quantity }}</li>
        {% endfor %}
          </ul>
        </div>

        <div class="section2">
            <h2><u>Preparation Steps</u></h2>
            <ol>
                {% for step in recipe.instructions.splitlines %}
                    <li>{{ step }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
    <script>
        {% for message in messages %}
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end', 
            showConfirmButton: false,
            timer: 3000, 
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });

        Toast.fire({
            icon: "{% if message.tags == 'success' %}success{% else %}info{% endif %}",
            title: "{{ message|escapejs }}"
        });
        {% endfor %}
    </script>
    {% endif %}

    <script src="{% static 'js/Favorites.js' %}"></script>  
    <script src="{% static 'js/recipe-details.js' %}"></script>  
</body>
</html>